

{% extends "shop/base.html" %}
{% load static %}

{% block title %}
  {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}

  <div class="row" style="margin-top: 20px">

      <!-- Our Left product list -->
      <div class="col-md-4">
        <div class="list-group">
          <h3 style="text-align: center">Categories</h3>
         
          <ul>
            <li class="list-group-item disabled" {% if not category %}id="selected"{% endif %}>
              <a href="{% url "shop:product_list" %}">All</a>
            </li>

            {% for c in categories %}
              <li class="list-group-item" {% if category.slug == c.slug %}id="selected"{% endif %}>
                <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>

    <!-- Right Product List -->
    <div class="col-md-8">
      <div class="row">
        <!-- Product list -->
        {% for product in products %}
        <div class="col-md-4 product-grid">
          <div class="image-container">
            {% load thumbnail %}
            {% thumbnail product.image "300" as im %}
            <a href="{{ product.get_absolute_url }}">
              <img src="{% if product.image %}{{im.url}} {% else %} {% static "img/no_image.png" %} {% endif%}" class="image d-block mx-auto">
            </a>
            {% endthumbnail %}
          </div>

          <h1>{{ product.name }}</h1>
          <h2>Price MMK {{product.price}}</h2>
          <a href="{{ product.get_absolute_url }}" class="btn buy">BUY</a>
        </div>
        {% endfor %}
        <!-- ./End of Product -->
      </div>

      <div style="margin-top: 30px">
        {% include "shop/pagination.html" with page=products %}
      </div>
    </div>

  </div>
{% endblock %}



























