
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- MY CSS and Title -->
  <link href="{% static 'css/base.css' %}" rel="stylesheet">
  <title>{% block title %}My shop{% endblock %}</title>
</head>


<body>
  <!-- Post body and Our side bar -->
  <main role="main" class="container">

    <!-- Image and text -->
    <nav class="navbar navbar-light bg-light" style="margin-top: 10px">
      <a class="navbar-brand" href="/">
        <img src="/docs/4.5/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
        MH_SHOP
      </a>
    </nav>
    <!-- END Image and Text -->

    <!-- NAVBAR and Search box and Cart -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd; margin-top: 10px">
      <div class="container">

        <a class="navbar-brand" href="/"><img src={% static "img/logo.png" %}></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">

          <div class="navbar-nav ml-auto">
            <form class="form-inline my-2 my-lg-0 ">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          
              <div class="sally-cart">
                <a href="#" class="btn btn-success"><span class="fa fa-shopping-cart"></span></a>
              </div>

            </form>
          </div>

        </div>
        
      </div>
    </nav>

    {% block content %} {% endblock %}

  </main>

  <!--Footer-->
  <div class="container">

    <footer class="page-footer text-center font-small mt-4 wow fadeIn">
    <hr class="my-4">

    <!-- Social icons -->
    <div>
        <a href="#" target="_blank">
          <i class="fab fa-facebook-f mr-3"></i>
        </a>

        <a href="#" target="_blank">
          <i class="fab fa-twitter mr-3"></i>
        </a>

        <a href="#" target="_blank">
          <i class="fab fa-youtube mr-3"></i>
        </a>

        <a href="#" target="_blank">
          <i class="fab fa-google-plus-g mr-3"></i>
        </a>

        <a href="#" target="_blank">
          <i class="fab fa-dribbble mr-3"></i>
        </a>

        <a href="#" target="_blank">
          <i class="fab fa-pinterest mr-3"></i>
        </a>

        <a href="#" target="_blank">
          <i class="fab fa-github mr-3"></i>
        </a>

        <a href="#" target="_blank">
          <i class="fab fa-codepen mr-3"></i>
        </a>
      </div>
      <!-- Social icons -->

      <!--Copyright-->
      <div class="footer-copyright">
        <a href="#" target="_blank"> mh_shop.com </a>
      </div>
      <!--/.Copyright-->
    </footer>
    <!--/.Footer-->
  </div>



  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  
</body>

</html>







